@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src//assets/static/sizes.scss';
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.container {
    display: flex;
    flex-direction: column;
    width: 70%;
    min-height: $full-size;
    margin: auto;
    border: 1px solid $authcard-border;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: 95%;
        border: none;
    }
}
.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    height: 60px;
    color: $profile-font-color;
    font-weight: 500;
    font-size: 20px;
    @media #{$mobile-wide}, #{$tablet} {
        font-size: 22px;
    }
}
.avatar__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $full-size;
    height: 300px;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        height: auto;
    }
}

.avatar__block_under {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 90%;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: $full-size;
        flex-direction: column;
        align-items: center;
    }
}
.avatar {
    width: 200px;
    height: 200px;
}
.avatar_pic {
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.avatar__block-actions {
    display: flex;
    align-items: center;
    width: 70%;
    height: 150px;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        height: auto;
        width: auto;
        flex-direction: column;
    }
}
.profile-info__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $full-size;
    height: auto;
}
.account-info__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 250px;
    width: $full-size;
    @media #{$mobile-wide}, #{$tablet} {
        height: 300px;
    }
}
.account-info__form-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    width: 90%;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
.account-info__form-label {
    font-size: 18px;
    font-weight: 300;
    width: 30%;
    @media #{$tablet} {
        font-size: 22px;
    }
}
.account-info__form-input {
    box-sizing:border-box;
    height: 6vh;
    font-size: 3vh;
    border: 1px solid $authcard-border;
    width: $half-size;
   @media #{$mobile-wide}, #{$tablet} {
       height: 5vh;
   }
}
.change-password__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}
.profile__button {
    margin: 20px;
    @media #{$mobile} {
        font-size: 16px;
    }
    @media  #{$mobile-wide}, #{$tablet} {
        min-width: 20%;
        height: 5vh;
        font-size: 18px;
    }
}
.light-caption {
    margin: 20px;
    font-size: small;
    font-weight: 400;
    color: $light-caption;
    @media #{$mobile-wide}, #{$tablet} {
        font-size: large;
    }
}