@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
.auth-card_body {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.auth-card_form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth-card_form-input {
    box-sizing:border-box;
    height: 5vh;
    border: 1px solid $authcard-border;
    width: 100%;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide} {
        height: 7vh;
        font-size: 3vh;
    }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.auth-card_input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 14vh;
    width: 100%;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide} {
        min-height: 20vh;
    }
}
.form-label {
    margin: 1vh 0vh;
    font-weight: 500;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide}, #{$laptop}, #{$desktop} {
        font-size: 3vh;
    }
}
.submits {
    background-color: $allowed-submit;
    border: none;
    height: 5vh;
    width: 8vw;
    color: white;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide}, #{$laptop}, #{$desktop}{
        width: 40%;
        height: 7vh;
        font-size: 3vh;
    }
}


.error-messages {
    color: $error-red;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide}, #{$laptop}, #{$desktop} {
        font-size: 2.5vh;
    }
}
.disabled-submit {
    background-color: $blocked-submit;
}
.forgot-password__link {
    margin-left: 1vw; 
    text-decoration: none;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide}, #{$laptop}, #{$desktop} {
        font-size: 2.5vh;
    }
}
.auth-card__bottom {
    margin: 10px 0;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet}, #{$tablet-wide} {
        height: 15vh;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: space-between;
    }
}