@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src//assets/static/sizes.scss';
.auth-card_body {
    display: flex;
    flex-direction: column;
    width: $full-size;
}
.auth-card_form-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.auth-card_form-input {
    box-sizing:border-box;
    height: 25px;
    border: 1px solid $authcard-border;
    width: $full-size;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.auth-card_input-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    width: $full-size;
}
.form-label {
    margin: 1vh 0vh;
    font-weight: 500;
}
.submits {
    background-color: $allowed-submit;
    border: none;
    height: 30px;
    width: 80px;
    color: white;
}


.error-messages {
    color: $error-red;
}
.disabled-submit {
    background-color: $blocked-submit;
}
.forgot-password__link {
    margin-left: 1vw; 
    text-decoration: none;
}
.auth-card__bottom {
    margin: 10px 0;
}