<div class="auth-card">
    <div class="auth-card_body">
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="auth-card_form-body">
                <div class="auth-card_input-block">
                    <label class="form-label">Email Address</label>
                    <input 
                        class="auth-card_form-input"
                        id="email"
                        type="email" 
                        formControlName="email"
                    >
                    <span class="error-messages"
                        *ngIf="loginForm.get('email').invalid  && loginForm.get('email').touched"
                    >
                        <span *ngIf="loginForm.get('email').errors['required']">
                            Email is required
                        </span>
                        <span *ngIf="loginForm.get('email').errors['email']">
                            Email is not correct
                        </span>
                    </span>
                </div>
                <div class="auth-card_input-block"> 
                    <label class="form-label">Password</label>
                    <input 
                        class="auth-card_form-input"
                        id="password"
                        type="password" 
                        formControlName="password"
                    >
                    <span class="error-messages"
                        *ngIf="loginForm.get('password').invalid  && loginForm.get('password').touched"
                    >
                        <span *ngIf="loginForm.get('password').errors['required']">
                            Password is required
                        </span>
                        <span *ngIf="loginForm.get('password').errors['minlength']">
                            Password must be longer than 6 symbols
                        </span>
                    </span>
                </div>
                
            </div>
            <button 
                type="submit" 
                class="submits"
                [disabled]="loginForm.invalid || loginForm.disabled"
                [ngClass]="{'disabled-submit': loginForm.invalid || loginForm.disabled}"
            >Sign In</button>
            <a href="" style="margin-left: 1vw; text-decoration: none;">Forgot Password?</a>
        </form>
        <p class="inviting-text-block">
            -----------------Sign In With-----------------
        </p>
        <div class="button-line">
            <button class="soc-btn" id="facebook">Facebook</button>
            <button class="soc-btn" id="google">Google+</button>
            <button class="soc-btn" id="twitter">Twitter</button>
        </div>
    </div>
</div>
