@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
a {
    text-decoration: none;
    color: inherit;
}
.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 275px;
    row-gap: 20px;
    column-gap: 20px;
    padding: 1vw;
    @media #{$mobile},#{$mobile-wide}, #{$tablet} {
        padding-top: 20px;
    }
}

.game-card {
    height: 400px;
    width: 275px;
    border: 1px solid $card-border;
    border-radius: 10px;
    padding: 0px 2px;
}
.game-card:hover {
    box-shadow: 0 12px 18px -6px black;
    -webkit-box-shadow: 0 12px 18px -6px black;
}
.game-card_header {
    height: 13%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.game-card_avatar {
    height: 40px;
    width: 40px;
    background-color: $rating-orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-card_rating {
    color: white;
    font-size: large;
}
.game-card_cover {
    height: 38%;
}
.game-card_title {
    width: 175px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 15px;
}
.title_name {
    width: 100%;
    font-size: 85%;
    font-weight:400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.title_date {
    width: 100%;
    font-size: 70%;
    font-weight: 200;
}
.game-card_summary {
    height: 148px;
    margin: 2px 10px;
}
.summary__text {
    font-weight: 300;
    font-size: 70%;
    line-height: 1.1rem;
    --max-lines: 8;
    position: relative;
    max-height: 8.8rem;
    overflow: hidden;
    padding-right: 1rem;
}
////////////////////////////////
.summary__text::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
}
.summary__text::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}
/////////////////////////////////
.game-card_actions {
    height: 10%;
}
.action-icons {
    color: $liked-heart;
    cursor: pointer;
}
.cover-image {
    width: 100%;
    height: 100%;
    // object-fit:fill;
    object-fit: contain;
}