@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src//assets/static/sizes.scss';

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 $game-card-width;
    row-gap: $flex-gaps;
    column-gap: $flex-gaps;
    padding: 30px 0px;
    @media #{$mobile},#{$mobile-wide}, #{$tablet} {
        padding-top: 20px;
    }
    @media  #{$tablet} {
        row-gap: $flex-big-gaps;
        column-gap: $flex-big-gaps;
        flex: 1 1 $game-card-large-width;
    }
}
.spinner__block {
    position: relative; 
    width: 100%;
}