.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.header__app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: rgb(2, 2, 226);
    color: white;
}
.app-bar_link {
    text-decoration: none;
    color: white;
}
.header__left-block {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.header__right-block {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin-top: 8vh;
    height: 85%;
    width: 100%;
}