<div class="outer-container">
    <div class="header">
        <div class="header__app-bar">
            <div class="header__left-block">
                <span>ICON</span>
                <a routerLinkActive="active" routerLink="/explore">DISCOVERY</a>
                <a routerLink="/games">MY GAMES</a>
            </div>
            <div class="header__right-block">
                <a routerLink="/user/4">USER PAGE</a>
            </div>
        </div>
        <div class="header__filter">
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header style="margin-top: 1rem;">
                <mat-panel-title>Filters</mat-panel-title>
                <mat-panel-description>
                    <mat-form-field>
                        <mat-label>Search games</mat-label>
                        <input matInput>
                    </mat-form-field>
                </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="header__filter-list">
                    <mat-form-field >
                        <mat-label>Release date</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Genres</mat-label>
                        <mat-select>
                            <mat-option value="RTS">Real Time Strategy (RTS)</mat-option>
                            <mat-option value="Puzzle">Puzzle</mat-option>
                            <mat-option value="RPG">Role Playing (RPG)</mat-option>
                            <mat-option value="Adventure">Adventure</mat-option>
                            <mat-option value="Shooter">Shooter</mat-option>
                            <mat-option value="Simulator">Simulator</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Platforms</mat-label>
                        <mat-select>
                            <mat-option value="SMD">Sega Mega Drive</mat-option>
                            <mat-option value="Web">Web browser</mat-option>
                            <mat-option value="PC">PC</mat-option>
                            <mat-option value="PS4">PS4</mat-option>
                            <mat-option value="PS3">PS3</mat-option>
                            <mat-option value="XBOX">XBOX One</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Game Engines</mat-label>
                        <mat-select>
                            <mat-option value="Frostbite">Frostbite</mat-option>
                            <mat-option value="React">React Native</mat-option>
                            <mat-option value="Unity">Unity</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>PEGI Rating</mat-label>
                        <mat-select>
                            <mat-option value="3">3</mat-option>
                            <mat-option value="7">7</mat-option>
                            <mat-option value="12">12</mat-option>
                            <mat-option value="16">16</mat-option>
                            <mat-option value="18">18</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field >
                        <mat-label>Game Modes</mat-label>
                        <mat-select>
                            <mat-option value="MMO">MMO</mat-option>
                            <mat-option value="Co-operative">Co-operative</mat-option>
                            <mat-option value="Single player">Single player</mat-option>
                            <mat-option value="Multiplayer">Multiplayer</mat-option>
                            <mat-option value="Split screen">Split screen</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-expansion-panel>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
        
    </div>
</div>
