@import '../../../../assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.header__app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: $appbar-background;
    color: white;
    @media #{$mobile},#{$mobile-wide} {
        height: 9vh;
    }
}
.app-bar_link {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    cursor: pointer;
    @media #{$mobile} {
        font-size: 14px;
    }
    @media  #{$mobile-wide} {
        font-size: 19px;
    }
    @media  #{$tablet} {
        font-size: 22px;
    }
    @media #{$tablet-wide} {
        font-size: 24px;
    }
}
.header__icon {
    cursor: pointer;
    @media #{$tablet} {
        font-size: 24px
    }
}
.app-bar__menu-item {
    color: black;
}
.header__left-block {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    @media #{$mobile}, #{$mobile-wide} {
        width: 85%;
    }
    @media #{$tablet} {
        width: 75%;
    }
    @media #{$tablet-wide} {
        width: 65%;
    }
}
.header__right-block {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
    @media #{$mobile}, #{$mobile-wide},#{$tablet-wide} {
        width: 15%;
    }
}

.content {
    margin-top: 8vh;
    height: 100%;
    width: 100%;
}