    <div class="header">
        <div class="header__app-bar">
            <div class="header__left-block">
                <span>ICON</span>
                <a routerLinkActive="active" routerLink="/explore">DISCOVERY</a>
                <a routerLink="/games">MY GAMES</a>
            </div>
            <div class="header__right-block">
                <a routerLink="/user/4">USER PAGE</a>
            </div>
        </div>
    </div>
    <div class="content">
        <router-outlet></router-outlet>  
    </div>

