@import '../../../../assets/static/colors.scss';
.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    width: 100%;    
}
.header__app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // height: 50px;
    height: 8vh;
    background-color: $appbar-background;
    color: white;
}
.app-bar_link {
    text-decoration: none;
    color: white;
    font-size: 3vh;
    cursor: pointer;
}
.app-bar__menu-item {
    color: black;
}
.header__left-block {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}
.header__right-block {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin-top: 8vh;
    height: 100%;
    width: 100%;
}