.outer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    //height: auto;
    position: fixed;
    top: 0;
}
.header__app-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 8vh;
    background-color: rgb(2, 2, 226);
    color: white;
}
.header__filter {
    height: auto;
   
}
.header__left-block {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}
.header__right-block {
    display: flex;
    flex-direction: row;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}
.header__filter-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.content {
    margin-top: 15%;
}