@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
.container {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $card-border;
    @media #{$mobile}, #{$mobile-wide} {
        width: 100%;
    }
}
.info-block {
    width: 90%;
    display: flex;
    flex-direction: row;
    margin: 40px 0px;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}
.info-block__logo-block {
    height: 95%;
    width: 35%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: auto;
    }
}
.company-logo {
    height: 100%;
    border-radius: 10px;
    margin: auto;
}
.info-block__details {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-height: 100px;
    margin: 10px 0px;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: 100%;
    }
}
.details__title {
    height: 40px;
    width: 100%;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: auto;
        margin: 10px 0px;
    }
}
.title-name {
    font-size: 18px;
    font-weight: 500;
    width: 30%;
    margin: 0 2%;
}
.title-date {
    font-size: 14px;
    font-weight: 300;
}
.details__info {
    margin: 0px 10px;
    font-size: 14px;
    font-weight: 300;
}
.games-block {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cards-container {
    margin: 30px 0px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 275px;
    row-gap: 20px;
    column-gap: 20px;
}