
    $appbar-background: rgb(2, 2, 226);
    $authcard-border:rgb(219, 218, 218);
    $blue-link: rgb(89, 109, 223);
    $white-link: white;
    $allowed-submit: rgb(245, 1, 1);
    $blocked-submit: gray;
    $active-tab-background: rgb(211, 0, 0);
    $facebook-blue: rgb(40, 40, 146);
    $google-red: rgb(245, 1, 1);
    $twitter-blue: rgb(28, 156, 234);
    $error-red: red;
    $rating-orange: orangered;
    $card-border: rgb(197, 193, 193);
    $liked-heart: rgb(252, 93, 132);
    $detail-block-blue: rgba(37, 70, 255, 0.685);
    $detail-block-blue-light: rgba(144, 160, 255, 0.685);
    $profile-font-color: rgb(5, 5, 173);
    $user-liked: rgba(255, 185, 232, 0.651);
    $critic-liked: rgba(255, 255, 182, 0.651);
    $light-caption: rgb(110, 109, 109);

