
    $authcard-border:rgb(219, 218, 218);
    $allowed-submit: rgb(245, 1, 1);
    $blocked-submit: gray;
    $active-tab-background: rgb(211, 0, 0);
    $facebook-blue: rgb(40, 40, 146);
    $google-red: rgb(245, 1, 1);
    $twitter-blue: rgb(28, 156, 234);
    $error-red: red;
