@import '/src/assets/static/colors.scss';
@import '/src/assets/static/breakpoints.scss';
@import '/src/assets/static/sizes.scss';
a {
    text-decoration: none;
    color: inherit;
}
.game-card {
    height: $game-card-height;
    width: $game-card-width;
    border: 1px solid $card-border;
    border-radius: $card-border-radius;
    padding: 0px 2px;
    @media #{$mobile} {
        height: $game-card-large-height;
        width: $game-card-large-width;
        margin: auto;
    }
    @media  #{$mobile-wide} {
        height: $game-card-large-height;
        width: $game-card-width-mobile;
        margin: auto;
    }
    @media #{$tablet} {
        height: $game-card-height;
        width: $game-card-width;
        margin: auto;
    }
}
.game-card:hover {
    box-shadow: #{$card-shadow};
    -webkit-box-shadow:  #{$card-shadow};
}
.game-card__header {
    height: $game-card-header-height;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.game-card__avatar {
    height: $game-card-avatar;
    width: $game-card-avatar;
    background-color: $rating-orange;
    border-radius: $half-size;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-card__rating {
    color: white;
    font-size: large;
}
.game-card__cover {
    height: $game-card-cover-height;
}
.game-card__title {
    width: $game-card-title-width;
    height: $game-card-title-height;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 15px;
}
.title__name {
    width: $full-size;
    font-size: 85%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.title__date {
    width: $full-size;
    font-size: 70%;
    font-weight: 200;
}
.game-card__summary {
    height: $game-card-summary-height;
    margin: 2px 10px;
}
.summary__text {
    font-weight: 300;
    font-size: 70%;
    line-height: $game-card-summary-line-height;
    --max-lines: $game-card-summary-max-lines;
    position: relative;
    max-height: $game-card-summary-max-height;
    overflow: hidden;
    padding-right: 1rem;
}
////////////////////////////////
.summary__text::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
  }
.summary__text::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}
/////////////////////////////////
.game-card__actions {
    height: $game-card-actions-height;
}
.action-icons {
    color: gray;
    cursor: pointer;
}
.action__icons_liked {
    color: $liked-heart;
    cursor: pointer;
}
.cover-image {
    width: $full-size;
    height: $full-size;
    object-fit: contain;
}