<div class="game-card">
    <a class="plain-link" routerLink='/explore/game/{{game?.id}}'>
        <div class="game-card__header">
            <div class="game-card__avatar">
                <span class="game-card__rating">{{game?.rating | number: '2.1-1'}}</span>
            </div>
            <div class="game-card__title">
                <span class="title__name">{{game?.name}}</span>
                <span class="title__date">{{game?.first_release_date * 1000 | date}}</span>
            </div>
        </div>
        <div class="game-card__cover">
            <img *ngIf="game?.cover_url" class= "cover-image" [src]='game?.cover_url'>
            <img *ngIf="!game?.cover_url" class="cover-image" src="../../assets/img/game-cover-placeholder.png">
        </div>
        <div class="game-card__summary">
            <div class="summary__text">
                {{game?.summary}}
            </div>
        </div>
    </a>
    <div class="game-card__actions" >
        <mat-icon [ngClass]="{'action-icons': !game?.liked, 'action__icons_liked' : game?.liked }" (click)="like(game?.id)">favorite</mat-icon>
    </div>
</div>
