@import '/src//assets/static/breakpoints.scss';
.cards-container {
    width: 75%;
    margin: auto;
    padding-top: 8vh;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    @media #{$mobile}, #{$mobile-wide}, #{$tablet} {
        width: 100%;
        margin: 0;
    }
}