<!-- <div class="container">
    <div class="title-block">
        <div class="title-block_caption">
            <span class="title-gamename">{{gameInfo?.name}}</span>
            <span>{{gameInfo?.game_engines_names | stringList}}</span>
        </div>
        <div class="title-block_subcaption">
            <span>{{gameInfo?.companies_names | stringList}}</span>
            <span *ngIf ="gameInfo?.first_release_date" class="title-releasedate">| Release Date: {{gameInfo?.first_release_date * 1000 | date}}</span>
        </div>
        <div class="raiting-block">
            <div class="raiting-block_frame">
                {{gameInfo?.rating | number: '2.1-1'}}
            </div>
            <span class="light-caption">User score</span>
        </div>
    </div>

    <div class="info-block">
        <div class="info-block_cover">
            <img *ngIf="gameInfo?.cover_url" class="cover-image" src={{gameInfo?.cover_url}}>
            <img *ngIf="!gameInfo?.cover_url" class="cover-image" src="../../assets/img/game-cover-placeholder.png">
        </div>
        <div class="info-block_details">
            <div class="detail-row">
                <span style="width: 45%;">Platforms: <span class="detail-text">{{gameInfo?.platforms_names | stringList}}</span></span>
                <span style="width: 45%;">Age rating (PEGI): <span class="detail-text">{{gameInfo?.age_rating_name}}</span></span>
            </div>
            <div class="detail-row">
                <span style="width: 45%;">Game modes: <span class="detail-text">{{gameInfo?.game_modes_names | stringList}}</span></span>
                <span style="width: 45%;">Genres: <span class="detail-text">{{gameInfo?.genres_names | stringList}}</span></span>
            </div>
            
        </div>
        
    </div>
    <div *ngIf="gameInfo?.summary" class="game_text-description">
        <h4>Summary</h4>
        <span >{{gameInfo?.summary}}</span>
    </div>
    <div *ngIf="gameInfo?.storyline" class="game_text-description">
        <h4>What is it about?</h4>
        <span s>{{gameInfo?.storyline}}</span>
    </div>
    <div *ngIf="gameInfo?.screenshots" style="margin: 0 1%;">
        <h4>Screenshots</h4>
        <div class="screens-block">
            
            <div *ngFor="let screen of gameInfo?.screenshots_urls" >
                <img src="{{screen}}" class="screenshot">
            </div>
        </div>
    </div>
</div> -->
<div class="container">
    <div class="title-block">
        <div class="title-block_caption">
            <span class="title-gamename">{{gameInfo?.name}}</span>
            <mat-icon [ngClass]="{'action-icons': !gameInfo?.liked, 'action-icons_liked' : gameInfo?.liked }" >favorite</mat-icon>
            <span class="light-caption">PEGI rating</span>
            <div class="detail__block_blue">
                <span>{{gameInfo?.age_rating_name}}</span>
            </div>
        </div>
        <div class="title-block_subcaption">
            <span>{{gameInfo?.companies_names | stringList}}</span>
        </div>
    </div>
    <div class="info-block">
        <div class="info-block__column_left">
            <div class="info__ceil">
                <div class="info__ceil-title">Description</div>
                <div class="info__ceil-content">
                    {{gameInfo?.summary}}
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Release Date</div>
                <div class="info__ceil-content">
                    {{gameInfo?.first_release_date * 1000 | date}}
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Screenshots</div>
                <div class="info__ceil-content" id="screens">
                    <img *ngFor="let screen of gameInfo?.screenshots_urls"  
                    src="{{screen}}" class="screenshot"
                    width="270" height="210">
                </div>
            </div>
        </div>
        <div class="info-block__column_right">
            <div class="info__ceil">
                <div class="info__ceil-title">Rating</div>
                <div class="info__ceil_rating">
                    <div class="rating__line" id="userscore">
                        <span style="width: 40%;">Users</span>
                        <span style="width: 45%;">{{gameInfo?.rating | number: '2.1-1'}} ({{gameInfo?.rating_count}} views)</span>
                    </div>
                    <div class="rating__line" id="criticscore">
                        <span style="width: 40%;">Critics</span>
                        <span style="width: 45%;">{{gameInfo?.aggregated_rating | number: '2.1-1'}} ({{gameInfo?.aggregated_rating_count}} views)</span>
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Genres</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let genre of gameInfo?.genres_names" class="detail__block_blue detail_ceil">
                        {{genre}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Platforms</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let platform of gameInfo?.platforms_names" class="detail__block_blue detail_ceil">
                        {{platform}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Engines</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let engine of gameInfo?.game_engines_names" class="detail__block_blue detail_ceil">
                        {{engine}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Modes</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let mode of gameInfo?.game_modes_names" class="detail__block_blue detail_ceil">
                        {{mode}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>