<div class="container">
    <div class="title-block">
        <div class="title-block_caption">
            <span class="title-gamename">{{gameInfo?.name}}</span>
            <mat-icon [ngClass]="{'action-icons': !gameInfo?.liked, 'action-icons_liked' : gameInfo?.liked }" >favorite</mat-icon>
            <div class="title-rating">
                <span class="light-caption">PEGI rating</span>
                <div class="detail__block_blue">
                    <span>{{gameInfo?.age_rating_name}}</span>
                </div>
            </div>
        </div>
        <div class="title-block_subcaption">
            <span *ngFor="let company of companies" class="subcaption__text">
                <a class="plain-link" routerLink="/explore/company/{{company?.id}}">{{company?.name}}</a>
            </span>
        </div>
    </div>
    <div class="info-block">
        <div class="info-block__column_left">
            <div class="info__ceil">
                <div class="info__ceil-title">Description</div>
                <div class="info__ceil-content">
                    {{gameInfo?.summary}}
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title" >Release Date</div>
                <div class="info__ceil-content">
                    {{gameInfo?.first_release_date * 1000 | date}}
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Screenshots</div>
                <div class="info__ceil-content" id="screens">
                    <img *ngFor="let screen of gameInfo?.screenshots_urls"  
                    src="{{screen}}" class="screenshot">
                </div>
            </div>
        </div>
        <div class="info-block__column_right">
            <div class="info__ceil">
                <div class="info__ceil-title">Rating</div>
                <div class="info__ceil_rating">
                    <div class="rating__line" id="userscore">
                        <span style="width: 40%;">Users</span>
                        <span style="width: 45%;">{{gameInfo?.rating | number: '2.1-1'}} ({{gameInfo?.rating_count}} views)</span>
                    </div>
                    <div class="rating__line" id="criticscore">
                        <span style="width: 40%;">Critics</span>
                        <span style="width: 45%;">{{gameInfo?.aggregated_rating | number: '2.1-1'}} ({{gameInfo?.aggregated_rating_count}} views)</span>
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Genres</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let genre of gameInfo?.genres_names" class="detail__block_blue detail_ceil">
                        {{genre}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Platforms</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let platform of gameInfo?.platforms_names" class="detail__block_blue detail_ceil">
                        {{platform}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Engines</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let engine of gameInfo?.game_engines_names" class="detail__block_blue detail_ceil">
                        {{engine}}
                    </div>
                </div>
            </div>
            <div class="info__ceil">
                <div class="info__ceil-title">Modes</div>
                <div class="info__ceil_blocklist">
                    <div *ngFor="let mode of gameInfo?.game_modes_names" class="detail__block_blue detail_ceil">
                        {{mode}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>