@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90vh;
    padding: 5vh;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-top: 0%;
    padding: 1%;
    border-width: 4px;
    border-style: solid;
    border-color: $authcard-border;
    @media #{$mobile} {
        width: 95%;
        min-height: 50%;
    }
    @media #{$tablet}, #{$mobile-wide} {
        width: 75%;
    }
    @media #{$tablet-wide} {
        width: 35%;
        min-height: 50%;
    }
}
.active-tab {
    background-color: $active-tab-background;
    color: $white-link;
}
.nav-header {
    display: flex;
    flex-direction: row;
    height: 7vh;
    
}
.nav-tab {
    padding: 14px;
    width: 50%;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 100%;
    
}
.nav-tab:hover {
    text-decoration: none;
    
}


