@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src//assets/static/sizes.scss';
.outer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: $outer-container-height;
    padding: $outer-container-padding;
}
.card-wrapper {
    display: flex;
    flex-direction: column;
    width: $card-wrapper-width;
    padding: $card-wrapper-border-width;
    border: $card-wrapper-border-width solid $authcard-border;
    @media #{$mobile} {
        width: $card-wrapper-width-small;
        min-height: 50%;
    }
    // @media #{$mobile-landscape} {
    //     width: 70%;
    // }
}
.active-tab {
    background-color: $active-tab-background;
    color: $white-link;
}
.nav-header {
    display: flex;
    flex-direction: row;
    height: $nav-header-height;
}
.nav-tab {
    padding: $nav-tab-padding;
    width: $nav-tab-width;
    text-align: center;
    text-decoration: none;
    border-top-left-radius: $nav-tab-border-radius;
    border-top-right-radius: $nav-tab-border-radius;
    font-size: 100%;
}
.nav-tab:hover {
    text-decoration: none;
}


