@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src/assets/static/sizes.scss';
a {
    text-decoration: none;
    color: inherit;
}
.company-card {
    width: $company-card-width;
    margin: auto;
    border: 1px solid $card-border;
    border-radius: $card-border-radius;
    display: flex;
    flex-direction: row;
    align-items: center;
    @media #{$mobile}, #{$mobile-wide} {
        flex-direction: column;
    }
}
.company-card:hover {
    box-shadow: #{$card-shadow};
    -webkit-box-shadow: #{$card-shadow};
}
.company-card__logo-block {
    height: $company-card-logo-block-height;
    min-width: $company-card-logo-block-min-width;
    margin: #{$company-card-logo-block-margin};
    display: flex;
    align-items: center;
    @media #{$mobile}, #{$mobile-wide} {
        width: $full-size;
        margin: 10px 0px;
    }
}
.company-logo {
    height: $full-size;
    border-radius: $card-border-radius;
    margin: auto;
}
.company-card__details {
    display: flex;
    flex-direction: column;
    width: $company-card-details-width;
    min-height: $company-card-details-min-heigth;
    margin: #{$company-card-details-margin};
    @media #{$mobile}, #{$mobile-wide} {
        width: $full-size;
    }
    @media #{$tablet} {
        width: 40%;
    }
}
.details__title {
    height: $company-card-details-title-heigth;
    width: $full-size;
}
.title-name {
    font-size: 18px;
    font-weight: 500;
    width: $company-card-name-width;
    margin: #{$company-card-info-text-margin};
}
.title-date {
    font-size: 14px;
    font-weight: 300;
}
.details__info {
    margin: #{$company-card-info-text-margin};
    font-size: 14px;
    font-weight: 300;
}