@import '/src/assets/static/colors.scss';

a {
    text-decoration: none;
    color: inherit;
}

.header_search {
    display: flex;
    justify-content: center;
}
.expansion-panel {
    outline: none;
    background: rgb(255, 255, 255) !important;
   
}
.header__filter-list {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.filter-input {
    width: 24vh;
    margin: 1vw;
}
.filter__slider-block {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
}
.header__button-block {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 275px;
    row-gap: 20px;
    column-gap: 20px;
    padding: 1vw;
}

.game-card {
    height: 400px;
    width: 275px;
    border: 1px solid rgb(197, 193, 193);
    border-radius: 10px;
    padding: 0px 2px;
}
.game-card:hover {
    box-shadow: 0 12px 18px -6px black;
    -webkit-box-shadow: 0 12px 18px -6px black;
}
.game-card_header {
    height: 13%;
    margin: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.game-card_avatar {
    height: 40px;
    width: 40px;
    background-color: $raiting-orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game-card_rating {
    color: white;
    font-family: 'segoe ui';
    font-size: large;
}
.game-card_cover {
    height: 38%;
}
.game-card_title {
    width: 175px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 15px;
}
.title_name {
    width: 100%;
    font-family: 'segoe ui';
    font-size: 85%;
    font-weight:400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.title_date {
    width: 100%;
    font-family: 'segoe ui';
    font-size: 70%;
    font-weight: 200;
}
.game-card_summary {
    height: 148px;  /* for text with ellipis NOT WORKING*/
    font-family: 'segoe ui';
    font-weight: 300;
    font-size: 70%;
    margin: 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.game-card_actions {
    height: 10%;
}
.action-icons {
    color: gray;
}
.cover-image {
    width: 100%;
    height: 100%;
    object-fit:fill;
}