@import '/src/assets/static/colors.scss';
@import '/src//assets/static/breakpoints.scss';
@import '/src//assets/static/sizes.scss';
.header_search {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media #{$mobile},#{$mobile-wide} {
        padding-top: 20px;
        flex-direction: column;
    }
}
.toggle-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 210px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.expansion-panel {
    outline: none;
    background: rgb(255, 255, 255) !important;
}
.header__filter-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    @media #{$mobile},#{$mobile-wide} {
        flex-direction: column;
    }
    @media #{$tablet} {
        flex-wrap: wrap;
        column-gap: 5%; 
        justify-content: center;
    }
    @media #{$mobile-landscape} {
        flex-wrap: wrap;
        column-gap: 5%; 
        justify-content: center;
    }
}
.filter-input {
    width: $filter-input-width;
    @media #{$mobile},#{$mobile-wide} {
        width: 90%;
    }
    @media #{$tablet}, #{$mobile-landscape} {
        width: 40%;
    }
}
.filter__slider-block {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    @media #{$mobile},#{$mobile-wide}, #{$tablet}, #{$mobile-landscape} {
        width: $full-size;
    }
    
}
.header__button-block {
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1 1 $game-card-width;
    row-gap: $flex-gaps;
    column-gap: $flex-gaps;
    padding: 1vw;
    @media #{$mobile},#{$mobile-wide}, #{$tablet} {
        margin-top: 20px;
    }
    @media  #{$tablet} {
        row-gap: $flex-big-gaps;
        column-gap: $flex-big-gaps;
        flex: 1 1 $game-card-large-width;
    }
}
.spinner__block {
    position: relative; 
    width: $full-size;
}

