<div class="header_search">
    <div class="toggle-container">
        Released
        <mat-slide-toggle
        color="primary"
        [(ngModel)]='comingSoonChecked'
        (change)="comingSoonChanged()">
            Coming soon
        </mat-slide-toggle>
    </div>
  <form [formGroup]='searchForm'>
    <mat-form-field>
        <mat-label>Search games</mat-label>
        <input matInput class="header-search__input" formControlName='gameName' (keydown.enter)='searchGamesByName()'>
    </mat-form-field>
  </form>
  <div class="checkbox-container">
      <mat-checkbox
      color="primary"
      [(ngModel)]="ratingDesc"
      [checked]="ratingDesc"
      id="desc"
      (change)="sortingChanged($event)"
      [disabled]="comingSoonChecked">
          Highest rating
      </mat-checkbox>
      <mat-checkbox
      color="primary"
      [(ngModel)]="ratingAsc"
      [checked]="ratingAsc"
      id="asc"
      (change)="sortingChanged($event)"
      [disabled]="comingSoonChecked">
        Lowest rating
    </mat-checkbox>
  </div>
</div>
<div class="header__filter">
  <mat-expansion-panel >
      <mat-expansion-panel-header  class="expansion-panel">
      <mat-panel-title>Filters</mat-panel-title>
      </mat-expansion-panel-header>
      <form class="header__filter-list" [formGroup]='filterForm'>
          <mat-form-field class="filter-input">
              <mat-label>Release date</mat-label>
              <input matInput [matDatepicker]="releaseDatePicker"
               formControlName='releaseDate'
               >
              <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #releaseDatePicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field class="filter-input">
              <mat-label>Genres</mat-label>
              <mat-select formControlName='genre'>
                  <mat-option *ngFor="let genre of genres" [value]='genre.id'>{{genre.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-input">
              <mat-label>Platforms</mat-label>
              <mat-select formControlName='platform'>
                  <mat-option *ngFor="let platform of platforms" [value]='platform.id'>{{platform.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-input">
              <mat-label>Game Engines</mat-label>
              <mat-select formControlName='engine'>
                  <mat-option *ngFor="let engine of gameEngines" [value]='engine.id'>{{engine.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-input">
              <mat-label>PEGI Rating</mat-label>
              <mat-select formControlName='pegiRating'>
                  <mat-option *ngFor="let rating of pegiRatings" [value]='rating'>{{rating}}</mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="filter-input">
              <mat-label>Game Modes</mat-label>
              <mat-select formControlName='mode'>
                  <mat-option *ngFor="let mode of gameModes" [value]='mode.id'>{{mode.name}}</mat-option>
              </mat-select>
          </mat-form-field>
          <div class="filter__slider-block">
              <mat-label>Rating</mat-label>
              <mat-slider class="filter-input"
                  formControlName = 'rating'
                  max= {{formSliderParams.max}}
                  min= {{formSliderParams.min}}
                  step= {{formSliderParams.step}}
                  thumbLabel=true
                  color = primary>
              </mat-slider>
          </div>                  
      </form>
      <div class="header__button-block">
          <button mat-button (click)="cancelSearch()">CANCEL</button>
          <button mat-button (click)="filterSearch()">SEARCH</button>
      </div>
  </mat-expansion-panel>
</div>

<div class="cards-container"
infiniteScroll
[infiniteScrollDistance]=exploreScrollParams.infiniteScrollDistance
[infiniteScrollThrottle]=exploreScrollParams.infiniteScrollThrottle
(scrolled)="onScroll()"
>
    <div *ngFor="let game of gamesList">
        <app-game-card [game] = "game"></app-game-card>
    </div>
</div>
<div class="spinner__block">
  <ngx-spinner 
    [size] = ngxSpinnerParams.size
    [color] = ngxSpinnerParams.color
    [bdColor] = ngxSpinnerParams.bdColor
    [type] = ngxSpinnerParams.type
    [fullScreen] = ngxSpinnerParams.fullScreen>
  </ngx-spinner>
</div>